DGP.Presentation\bin\*
DGP.Presentation/bin/*
DGP.Presentation\obj\*
DGP.Presentation/obj/*
DGP.BusinessLogic/obj/*
DGP.BusinessLogic\obj\*
DGP.BusinessLogic/bin/*
DGP.BusinessLogic\bin\*
DGP.DataAccess/obj/*
DGP.DataAccess\obj\*
DGP.DataAccess/bin/*
DGP.DataAccess\bin\*
DGP.Entities/obj/*
DGP.Entities\obj\*
DGP.Entities/bin/*
DGP.Entities\bin\*
DGP.Util/obj/*
DGP.Util\obj\*
DGP.Util/bin/*
DGP.Util\bin\*
*.cache
*.pdb


