DGP.Presentation\bin
DGP.Presentation/bin
DGP.Presentation\obj
DGP.Presentation/obj
*.pdb
DGP.BusinessLogic/obj/*
DGP.BusinessLogic\obj\*
DGP.BusinessLogic/bin/*
DGP.BusinessLogic\bin\*
DGP.DataAccess/obj/*
DGP.DataAccess\obj\*

DGP.DataAccess/bin/*
DGP.DataAccess\bin\*
*.cache
