<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DGP.Entities.Properties.Settings.dgpConnectionString"
            connectionString="Data Source=184.168.47.17;Initial Catalog=DVGP_CITAVAL;user id=CITAVAL; password=Admin456"
            providerName="System.Data.SqlClient" />
      <!--<add name="DGP.Entities.Properties.Settings.dgpConnectionString"
            connectionString="Data Source=USER-PC\SQLEXPRESS;Initial Catalog=DVGP_CITAVAL;user id=sa; password=Admin456"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
</configuration>