<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DGP.Entities.Properties.Settings.dgpConnectionString"
            connectionString="Data Source=USUARIO-PC\SQLEXPRESS2012;Initial Catalog=DVGP_CITAVAL;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>