<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DGP_cs" providerName="System.SqlClient" connectionString="Data Source=.;Initial Catalog=DGP;user id=sa; password=sa" />
  </connectionStrings>
  <appSettings>
    <add key="asCultura" value="es-PE"/>
  </appSettings>
</configuration>